<nav class = "navbar navbar-default">
  <div class = "logo">
<%= image_tag("murderlogo.png", :alt => "Murder She Wrote") %>
  </div> 
</nav>
<div>
  <!--<% form_tag %> -->
  <div class= "container">
    <h3>I want episodes where Jessica is</h3>
  </div>
  <div class= "container">
    <%= select_tag "Who you wanna see?","<option>in Cabot Cove with the sexually constipated sherrif/doctor</option><option>being mansplained but then OH WAIT she knows like a gazillion times more</option><option>pretending to be politely interested in sports (spoiler alert: she doesn't get them)</option><option>Courtney Cox's aunt, post-Springsteen</option><option>solving a murder for George Clooney</option><option>being cultured as shit in the Big City</option><option>visiting a mysterious random wealthy friend</option>" .html_safe, class: "form-control" %>
  </div>
  <div class="container">
    <%= submit_tag "Give Me Some Lansbury", class: "btn btn-default btn-lg" %>
  </div>
 </div>



