<h1>Murder, She Searched</h1>
<div>
<p>I want episodes with
  <%= select_tag "Who you wanna see?","<option>Jessica!</option><option>Mysterious Random Wealthy Friend</option><option>Sexually Frustrated Sherrif/Doctor</option>".html_safe, class: "form-control" %>
  <%= select_tag "Who you wanna see?","<option>in Cabot Cove</option><option>in the Big City</option><option>being mansplained and then just owning them</option><option>and sports! (spoiler alert: she doesn't get them)</option><option>with Courtney Cox</option><option>with George Clooney</option><option>being cultured as shit with art & music</option><option>hanging with mysterious random wealthy friend" .html_safe, class: "form-control" %>
 



