<nav class = "navbar navbar-default">
  <div class = "logo">
<%= image_tag("murderlogo3.png", :alt => "Murder She Wrote") %>
  </div> 
</nav>
<div>
  <!--<% form_tag %> -->
  <div class= "header">
    <h2>Give me an episode where Jessica is</h2>
  </div>
  <div class= "episode_selection">
    <%= select_tag(:episode_id,options_for_select([['being mansplained but then OH WAIT she knows like a gazillion times more', 1], ['in Cabot Cove with the sexually constipated sherrif/doctor', 2],['life coaching Courtney Cox in her post-Springsteen days', 3],['visiting a mysterious random wealthy friend', 4],['politely pretending to be interested in sports (spoiler alert: she does not get them)', 5],["solving a murder for 1980's big hair, weird voice George Clooney", 6], ['politely pretending to be interested in modern technology', 7]]), {:class => 'form-control'}) %>
  </div>
  <div class="button">
      <%= submit_tag "Angela Lansearchy", class: "btn btn-default btn-lg" %>
  </div>
 </div>



